In [1]:
import sys
import qrcode
import pandas as pd

In [16]:
df = pd.read_excel('daftar_sementara.xlsx')
df

    NO             NAMA KELAS  CAB  JAN  FEB  MAR  APR  MEI  JUN  JUL  CAT
0    1             AGHI     1  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    2            AKMAL     2  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    3          ALEESYA     3  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    4          AURELIA     2  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    5           AXELLA     2  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5    6             BIMA     5  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6    7            DAFFA     7  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7    8             DEVA     9  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    9             DIKO     7  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9   10             DINE     7  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
10  11            FADIL     7  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
11  12            FELIX     4  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
12  13             GAZA     5  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  14            GHANI    11  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
14  15        GUSTI AYU    10  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  16            HADYA     7  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  17           HAFIZH     1  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17  18            KEYZA     6  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
18  19          KHAIDRA     5  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19  20          M AUWAL     7  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
20  21           MALIKA     5  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  22  MAULINA FATHIYA     8  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
22  23            NANCY    TK  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23  24            NASWA     8  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
24  25   NAZHIA AURELIA     5  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
25  26            NELLA     5  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
26  27            PUTRI     9  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
27  28          QUEENZA     4  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
28  29           RADITH     6  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29  30           RAISYA     7  CIT  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
30  31           RAISYA     9  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
31  32            REGIA     9  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
32  33           RIZQUE     6  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
33  34            SALWA     9  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
34  35            ZAHRA     6  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
35  36            ZIHNI     8  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
36  37            ZIQRI     4  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
37  38            ZIYAD     6  TNI  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
38  39              NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
39  40              NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [35]:
print("kamu" + "aku")
a = 1.0
print(str(int(a)))

kamuaku
1

In [60]:
len(df)
const = 'nan'
for i in range(len(df)):
    nama  = str(df['NAMA'].iloc[i])
    kelas = df['KELAS'].iloc[i]
    if nama != const:
        input_string = "{ \"Nama\": \""+nama+"\", \"Kelas\": \""+kelas+"\", \"WAOrtu\": \"\" }"
        nama_file = "{}-{}".format(nama, kelas)
        img = qrcode.make(input_string)
        img.save('../data_siswa/{}.png'.format(nama_file))